@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");
html {
  font-size: 14px; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.flex2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%; }

.header {
  border-top: 0.7rem solid #df3f3f;
  background-color: #131313;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%; }
    .header-nav-log {
      padding-top: 1rem; }
    .header-nav-list {
      display: inline-block; }
      .header-nav-list button {
        font-size: 1.5rem;
        outline: none;
        height: 6rem; }
      .header-nav-list-ul {
        list-style-type: none;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .header-nav-list-ul li {
          list-style-type: none;
          display: inline-block;
          margin: 1rem; }
          .header-nav-list-ul li a {
            color: #e8e8e8;
            font-family: "Raleway",sans-serif;
            font-weight: 400;
            font-size: 1rem; }
      .header-nav-list_btn {
        background: transparent;
        border: none; }
  .header-caption {
    font-family: "Open Sans",sans-serif;
    font-size: 2.9rem; }
  .header-subtitle {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    font-size: .8rem; }
  .header-scroll-text {
    margin-top: 10rem; }
    .header-scroll-text a {
      font-family: "Raleway",sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff; }
    .header-scroll-text a:hover, .header-scroll-text a:focus {
      text-decoration: none; }
  .header-lightblue {
    background-color: #018ada; }
  .header-pink {
    background-color: #e95c93; }
  .header-blue {
    background-color: #3c5a98; }
  .header-red {
    background-color: #d13f3f; }
  .header-icons {
    width: 100%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .header-icons-item {
      width: 25%;
      padding: 1.5rem 1rem;
      color: #ffffff; }
      .header-icons-item:hover {
        opacity: .8;
        color: #ffffff; }

.about {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #222222;
  font-size: 1rem; }
  .about img {
    margin: 0 auto; }
  .about-phones {
    margin-top: 5rem; }
  .about-caption {
    letter-spacing: 0.3rem;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    text-align: center;
    font-size: 2rem; }
  .about-subtitle {
    text-align: center;
    color: #8b8b8b;
    font-style: italic;
    margin-bottom: 0rem;
    font-family: "Raleway",sans-serif;
    font-weight: 400; }
  .about-subtitle2 {
    color: #df3f3f;
    font-style: italic;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 6rem; }
  .about-text {
    margin-top: 2rem;
    color: #e8e8e8;
    font-family: "Raleway",sans-serif;
    font-weight: 400; }
    .about-text-strong {
      font-family: "Raleway",sans-serif;
      font-weight: 700;
      color: #ffffff; }
  .about-items-redblock {
    width: 3rem;
    height: 3rem;
    background: #df3f3f;
    margin-top: 1rem; }
  .about-items-caption {
    margin-top: 2rem;
    color: #ffffff;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem; }
  .about-items-text {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    color: #e8e8e8;
    margin-bottom: 2rem; }

.skills {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #df3f3f;
  text-align: center; }
  .skills-caption {
    font-family: "Open Sans",sans-serif;
    color: #ffffff;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem; }
  .skills-subtitle {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    color: #ffb1b1;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 0; }
  .skills-subtitle2 {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-style: italic; }
  .skills-pencil {
    margin-top: 4rem; }
    .skills-pencil img {
      margin: 1rem auto; }
  .skills-items {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .skills-items-item {
      margin-top: 2rem;
      width: 100%;
      padding: 7rem 1rem 3rem 1rem;
      border: 0.1rem solid #ffb1b1;
      text-align: center; }
      .skills-items-item-caption {
        font-size: 1.7rem;
        font-family: "Open Sans",sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.2rem; }
      .skills-items-item-text {
        font-family: "Raleway",sans-serif;
        font-weight: 400;
        color: #ffffff; }

.gallery {
  padding-top: 6rem;
  background: #222222; }
  .gallery-container {
    padding: 0; }
  .gallery-caption {
    font-family: "Open Sans",sans-serif;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }
  .gallery-subtitle {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #8b8b8b;
    margin-bottom: 0;
    text-align: center; }
  .gallery-subtitle2 {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    color: #df3f3f;
    margin-bottom: 5rem;
    text-align: center;
    font-style: italic; }
  .gallery-btns {
    margin-bottom: 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .gallery-btns-dropdown .dropdown-menu {
      width: 20rem;
      border: 1px solid #df3f3f;
      color: #ffffff;
      background: #df3f3f;
      margin-top: -0.5rem;
      border-radius: 0; }
    .gallery-btns-dropdown .dropdown-menu > li > a {
      font-family: "Raleway",sans-serif;
      font-weight: 700;
      letter-spacing: 0.2rem; }
    .gallery-btns-dropdown .dropdown-menu > li > a:hover {
      background: #df3f3f;
      color: #ffffff; }
    .gallery-btns-dropdown button {
      font-family: "Raleway",sans-serif;
      font-weight: 700;
      background: transparent;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      padding: .5rem .2rem;
      text-align: center;
      width: 20rem;
      border: 1px solid #df3f3f;
      border-radius: 0;
      margin-right: 1rem;
      position: relative; }
      .gallery-btns-dropdown button .caret {
        text-align: right;
        color: #df3f3f;
        position: absolute;
        right: 1rem;
        top: 1.1rem;
        -webkit-transform: scale(1.6);
        -ms-transform: scale(1.6);
        transform: scale(1.6); }
      .gallery-btns-dropdown button:hover, .gallery-btns-dropdown button:focus {
        color: #ffffff;
        background: #df3f3f; }
        .gallery-btns-dropdown button:hover .caret, .gallery-btns-dropdown button:focus .caret {
          color: #ffffff; }
    .gallery-btns-link {
      font-family: "Raleway",sans-serif;
      font-weight: 700;
      background: transparent;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      padding: .5rem 0rem;
      text-align: center;
      width: 20rem;
      border: 1px solid #0182da;
      border-radius: 0;
      margin-left: 1rem; }
      .gallery-btns-link:hover, .gallery-btns-link:focus {
        color: #ffffff;
        background: #0182da; }
  .gallery-items {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .gallery-items-item {
      width: 50%;
      height: 16rem;
      position: relative; }
      .gallery-items-item:hover .gallery-items-item_overlay {
        height: 100%; }
      .gallery-items-item img {
        width: 100%;
        height: 16rem;
        display: block; }
      .gallery-items-item_overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.63);
        overflow: hidden;
        width: 100%;
        height: 0%;
        -webkit-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease; }
      .gallery-items-item_text {
        font-family: "Raleway",sans-serif;
        font-weight: 400;
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        border: 1px solid #ffffff;
        vertical-align: middle;
        text-align: center;
        padding: 5.5rem 2rem;
        padding-bottom: 4rem;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }

.contact {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background: #df3f3f; }
  .contact-caption {
    font-family: "Open Sans",sans-serif;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }
  .contact-subtitle {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #ffb1b1;
    margin-bottom: 0;
    text-align: center; }
  .contact-subtitle2 {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5rem;
    text-align: center;
    font-style: italic; }
  .contact-info {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    color: #ffffff; }
    .contact-info:last-child .contact-info-item {
      padding-top: 2rem; }
    .contact-info-item {
      padding-top: 1.2rem;
      padding-bottom: 3rem; }
  .contact input {
    background: #ffb1b1;
    color: #df3f3f;
    padding: 1.2rem 1rem;
    width: 100%;
    border: none;
    margin-bottom: 2rem; }
    .contact input:focus {
      outline: none;
      border: none; }
  .contact-checkbox {
    background: #df3f3f;
    width: 1rem;
    height: 1rem;
    border: 0.14rem solid #ffffff;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 0.6rem;
    color: #ffffff;
    display: inline-block;
    margin: 0;
    margin-right: .2rem; }
  .contact-checkbox-text {
    color: #ffb1b1;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .contact-btn {
    width: 100%;
    border: 0.2rem solid #ffffff;
    padding: .5rem 0;
    color: #ffffff;
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    background: transparent;
    letter-spacing: 0.2rem;
    text-transform: uppercase; }
    .contact-btn:hover {
      color: #df3f3f;
      background: #ffffff; }
  .contact textarea {
    background: #ffb1b1;
    color: #df3f3f;
    padding: 2rem 1rem;
    width: 100%;
    outline: none;
    border: none;
    height: 100%; }
    .contact textarea:focus {
      outline: none;
      border: none; }

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #df3f3f;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 20rem; }
  .preloader-loader {
    letter-spacing: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 18rem; }
    .preloader-loader-smallspace {
      letter-spacing: 1rem; }
    .preloader-loader p {
      text-align: center;
      color: #ffffff;
      font-family: "Open Sans",sans-serif; }

@media (min-height: 1200px) and (min-width: 2100px) {
  html {
    font-size: 19px; } }

@media (min-height: 1025px) {
  .contact, .skills {
    padding-top: 20rem; }
  .about {
    padding-top: 16rem; }
  .gallery-items-item, .gallery-items-item img {
    height: 20rem; }
  .gallery-items-item_text {
    padding-top: 6.5rem; } }

@media (max-width: 420px) {
  .preloader-loader {
    font-size: 10rem;
    line-height: 9rem; }
  .header-nav-list-ul li {
    margin-left: .5rem;
    margin-right: .5rem; }
  .header-nav-list button {
    font-size: 1rem; }
  .header-scroll-text {
    margin-top: 5rem; } }

@media (max-width: 340px) {
  .header-nav-list-ul li {
    margin-left: .2rem;
    margin-right: .2rem; }
    .header-nav-list-ul li a {
      font-size: 0.8rem; }
  .header-scroll-text {
    margin-top: 1rem; }
  .gallery-items-item {
    width: 100%; } }

@media (min-width: 900px) {
  .gallery-items-item {
    width: 25%; } }

@media (max-width: 764px) {
  .contact-info-item {
    text-align: center;
    font-size: 1.5rem; } }

@media (max-width: 600px) {
  .gallery-btns-dropdown button {
    margin: 0;
    margin-bottom: 2rem; }
  .gallery-btns-dropdown .dropdown-menu {
    margin-top: -2rem; }
  .gallery-btns-link {
    margin-bottom: 2rem; } }

@media (max-width: 577px) {
  .gallery-btns-link {
    margin: 0; } }

@media (min-width: 700px) {
  .skills-items {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .skills-items-item {
      margin-top: 2rem;
      width: 30%; } }
